body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    background-color: white;
    color: black;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
}

.cta-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #333;
}

html,
body {
    height: 100%; /* Задать высоту 100% для html и body */
    margin: 0; /* Убрать отступы */
}

.app {
    display: flex; /* Сделать основной контейнер Flex-контейнером */
    flex-direction: column; /* Вертикальная ориентация */
    min-height: 100vh; /* Минимальная высота 100vh для заполнения всей высоты окна */
}

.content {
    flex: 1; /* Контент будет занимать всё доступное пространство */
}

.footer {
    background-color: #f8f9fa; /* Цвет фона для футера */
    padding: 1rem; /* Внутренние отступы для футера */
    text-align: center; /* Центрировать текст */
}

a {
    color: #000;
    text-decoration: none;
}
h2 {
    border-bottom: 2px solid #16a9b8 !important;
}
