.footer {
    background-color: #f8f9fa; /* Цвет фона футера */
    padding: 1rem; /* Внутренние отступы */
    text-align: center; /* Центрировать текст */
}
.footer p {
    margin: 0;
    font-size: 0.9rem;
}
