.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Закрепляет хедер */
    top: 0; /* Приклеивает его к верхней границе */
    width: 100%; /* Задает ширину, чтобы хедер занимал всю ширину экрана */
    z-index: 1000; /* Устанавливает z-index, чтобы хедер был поверх остальных элементов */
}

.header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header li {
    margin: 0 15px;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.header a:hover {
    color: #555;
}

body {
    padding-top: 60px; /* Чтобы основной контент не был перекрыт хедером */
}
